/* Colours
#737577 grey text
#a6a6a6 grey lines
#f3f3f3 grey background - light
#3c3c3c grey background - footer
#393c4f green text, button
#eaffb0 pale yellow - for links on green bg
*/

body {
	background-color: #2d3039;
	font: 300 16px Roboto,sans-serif;
	color: #737577;
	margin: 0;
}
article,aside,details,div,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}
a, a:hover {
	color: #393c4f;
	text-decoration: none;
}
.bg-grad a, .bg-grad a:hover {
	color: #eaffb0;
}

form {
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 1.6em;
	font-weight: 300;
}
h1 {
	font-size: 30px;
}
h2, .like-h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}
h4,h5,h6 {
	font-size: 18px;
}
img {
	border-width: 0;
}
input[type=text], input[type=password], input[type=email],
textarea, select {
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 3px;
	margin-bottom: 3px;
	border: none;
	border-bottom: 1px solid #a6a6a6;
	width: 100%;
	background-color: #fff;
	color: #393c4f;
	font: 100 16px Roboto,sans-serif;
	font-style: italic;
}
select {
	padding: 4px 5px;
}
textarea {
	resize: none;
}
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ol,ul {
	margin: 0;
	padding: 0;
}
blockquote:first-child, p:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0;
}
blockquote:last-child, p:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
	margin-bottom: 0;
}
blockquote:last-child, p:last-child {
	margin-bottom: 0;
}
table {
	border: none;
	border-collapse: collapse;
}
td, th {padding: 0;}

::-moz-selection {
	background: #2c2e38;
	color: #fff;
}
::selection {
	background: #aaa;
	color: #fff;
}

/* Classes */
.alignc {text-align: center;}
.alignc-a {
		border-radius: 25px;
	}
.alignl {text-align: left;}
.alignr {text-align: right;}
.alignvm {vertical-align: middle;}
.alignvt {vertical-align: top;}

.bg-grad {
	background:  url(../images/bg-grad-diagonal.jpg);
	background-size: 100% 100%;
}
.bg-grad-v {
	background: #393c4f url(../images/bg-grad-vertical.png);
	background-size: 100% 100%;
}
.bg-grey {background-color: #2c2e38;}
.bg-white {background-color: #fff;}

.bord {border:1px solid #a6a6a6;}
.bordb {border-bottom:1px solid #a6a6a6;}
.bordl {border-left:1px solid #a6a6a6;}
.bordr {border-right:1px solid #a6a6a6;}
.bordt {border-top:1px solid #a6a6a6;}

.br {margin-top: 1em;}

.clear {clear: both;}
.float {float: left;}
.floatr {float: right;}
.fc {overflow: hidden;}

.hide {display: none;}

.inline {display: inline;}
.inline-block {
	display: -moz-inline-stack;
	display: inline-block;
}

.m0 {margin: 0;}
.mt30 {margin-top: 30px;}
.mt50 {margin-top: 50px;}

.padt20 {padding-top: 20px;}

.pointer {cursor: pointer;}

.posabs {position: absolute;}
.posrel {position: relative;}

/* Text */
.bold {font-weight: 500;}
.norm {font-weight:normal;}

/* Colours */
.white {color: #fff;}
.red {color: #c80f0f;}
.green {color: #393c4f;}
.grey {color: #737577;}
.yellow {color: #eaffb0;}

/* Layout */
header {
	position: relative;
	margin-top: 7px;
	background: url(../images/bg2.jpg) no-repeat;
	background-size: 100% 100%;
}
.header-wrapper {
	position: relative;
	overflow: visible;
	margin: 0 auto;
	width: 100%;
	min-height: 100px;
	/*background: url(../images/3anim.gif)  no-repeat;*/
	background-size: 100% 100%;
	
}
.header-logo {
	position: absolute;
	top: 25px;
}
.header-logo-icon {
	display: none;
	width: 49px;
}
.header-logo-full {
	width: 200px;
}
.header-nav-open {
	display: none;
	position: absolute;
	top: 48px;
	right: 20px;
}
.header-nav-open img {
	width: 20px;
}
.header-nav {
	display: block;
	position: absolute;
	z-index: 100;
	left: 250px;
	right: 20px;
	top: 0;
	height: 80px;
}
.header-nav-icons {
	overflow: hidden;
	display: none;
	padding: 0 20px 20px 20px;
	background-color: #fff;
}
.header-nav-logo-icon {
	float: left;
	width: 49px;
}
.header-nav-close {
	float: right;
	margin: 21px 0 0 0;
}
.header-nav-close img {
	width: 20px;
}
.header-menu {
	float: left;
}
.header-menu a {
	display: block;
	float: left;
	margin: 0 20px;
	padding: 45px 0 10px 0;
	color: #fff;
	font-weight: 500;
	text-decoration: none;
}
.header-menu a:hover, .header-menu a:focus,
.header-menu a.menu-current {
	border-bottom: 2px solid #0ef9fc;
	background: url(../images/triangle-down-large-white.svg) center 0 no-repeat;
	background-size: 40px 11px;
	color: #0ef9fc;
}
.header-lang {
	float: right;
	margin-top: 45px;
	text-transform: uppercase;
}
.header-lang a {
	color: #fff;
}
.header-lang-select {
	display: none;
	position: absolute;
	right: 0;
	top: 40px;
	width: 170px;
	background-color: #fff;
	font-size: 14px;
}
.header-lang-select-label {
	margin: 8px;
	padding-bottom: 8px;
	color: #bbb;
	border-bottom: 1px solid #bbb;
}
.header-lang-select li > a {
	display: block;
	padding: 3px 8px;
	color: #737577;
}
.header-lang-select li > a:hover, .header-lang-select li > a:focus,
.header-lang-select li > a.lang-current
{
	background-color: #fff;
	color: #393c4f;
}
.header-content {
	margin: 0 auto;
	padding: 100px 0 0 0;
	max-width: 100%;
	color: #fff;
	text-align: center;
}
.header-content img{
	width: 100%
}

.wrapper {
	overflow: hidden;
	clear: both;
	margin: 0 auto;
	width: 1200px;
}
.wrapper div {
	overflow: hidden;
}

footer {
	background-color: #393c4f;
	color: #fff;
}
footer h2 {
	margin: 0 0 10px 0;
	font-size: 16px;
	font-weight: 500;
}
.footer-arrow {
	background-color: #3c3c3c;
	font-size: 0;
	text-align: center;
}
.footer-arrow img {
	width: 40px;
	height: 11px;
}
.footer-logo-links {
	float: right;
	margin-top: 40px;
	width: 66.66%;
}
.footer-logo {
	float: left;
	width: 50%;
	text-align: center;
}
.footer-logo img {
	width: 70%;
	max-width: 220px;
}
.footer-links {
	float: right;
	width: 50%;
}
.footer-links > div {
	float: left;
	width: 50%;
}
.footer-links a {
	display: block;
	padding: 5px 0;
	color: #bcbec0;
}
.footer-social {
	float: left;
	margin-top: 40px;
	padding-top: 2%;
	width: 33.33%
}
.footer-social a {
	display: inline-block;
	margin: 0 2%;
	width: 8%;
	max-width: 30px;
}
.footer-social a img {
	width: 100%;
}
.footer-copyright {
	padding: 20px 0;
	font-size: 14px;
	text-align: center;
}


/* Common layout */
.wrapper-pad {
	padding: 50px 0;
}
.wrapper-pad h2{
	color: white;
}
.wrapper-pad p{
	color: white;
}
.content-pad {
	padding: 40px 60px;
}
.content-max-width {
	margin: 0 auto;
	max-width: 800px;
}
.slider-pad {
	padding: 40px 20px;
}

.col-2 {
	float: left;
	width: 50%;
}
.col-3 {
	float: left;
	width: 33.33%;
}
.col-3-2 {
	float: left;
	width: 66.66%;
}
.col-5 {
	float: left;
	width: 14%;
}


/* Sliders */
.slider {
	position: relative;
}
.slider-left {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;
}
.slider-right {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 25px;
}
.slider-left img, .slider-right img {
	width: 100%;
}
.slider-item {
	margin-top: 30px;
	margin-bottom: 15px;
}
.slider-single .slider-item {
	display: none;
	margin: 30px 50px 15px 50px;
}

.slider-single .slider-item-sel {
	display: block;
}
.slider-single .slider-left, .slider-single .slider-right {
	display: block;
}


/* 'View more' */
.more-link {
	display: block;
	position: relative;
	height: 10px;
}
.more-arrow {
	position: relative;
	top: 0;
	width: 15px;
}


/* Shift content left-right on hover */
.shift {
	position: relative;
}
.shift-left {
	left: 0;
}
.shift-right {
	left: 0;
}


/* Page-specific */

#home-ball-div {
	position: relative;
	width: 76%;
	max-width: 304px;
	height: 380px;
	text-align: center;
}
#home-ball {
	position: absolute;
	bottom: 70px;
	width: 100%;
}
#home-ball-shadow {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 30px;
	text-align: center;
}
#home-ball-div img {
	width: 100%;
}
#home-ball-shadow img {
	width: 75%;
}

#home-why-text, #home-why-images {
	min-height: 430px;
}
#home-why-images {
	position: relative;
}
#home-why-images .shift {
	width: 100%;
	position: absolute;
}
#home-why-images img {
	width: 100%;
	height: 80%;
	max-width: 499px;
}

#home-users .slider-left, #home-users .slider-right {
	margin-top: 80px;
}
#home-users .slider-item img {
	width: 90%;
	max-width: 143px;
}
#home-join {
	position: relative;
}
#home-join-image {
	display: none;
	overflow: visible;
	position: absolute;
	right: 20px;
	bottom: 0;
	width: 45%;
	font-size: 0;
	text-align: center;
}
#home-join-image img {
	width: 100%;
	max-width: 543px;
}

#about-slider img {
	width: 100%;
	max-width: 568px;
}
#about-slider .slider-left, #about-slider .slider-right {
	margin-top: 18%;
}
#about-slider .slider-item > div:first-child {
	margin-top: 12%;
}

.team-slider .slider-item img {
	width: 90%;
	max-width: 150px;
}
.team-slider .slider-item  {
	color: white;
}
.team-slider .slider-left, .team-slider .slider-right {
	margin-top: 120px;
}

.dapps-slider-pad {
	padding-bottom: 0;
}
.dapps-slider .slider-item {
	position: relative;
	margin-bottom: 0;
	padding-bottom: 20px;
}
.dapps-icon {
	width: 195px;
}
.dapps-graphic img {
	width: 269px;
}
.dapps-triangle {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 0;
	text-align: center;
}
.dapps-triangle img {
	width: 40px;
	height: 11px;
}
.dapps-slider .slider-left, .dapps-slider .slider-right {
	margin-top: 120px;
}
.dapps-graphic img {
	width: 85%;
	max-width: 269px;
}


/* Buttons */
input[type=submit], button, a.button {
	display: inline-block;
	border: 1px solid #393c4f;
	padding: 8px 30px;
	background-color: #915bff;
	color: #fff;
	font: 300 16px Roboto,sans-serif;
	cursor: pointer;
	border-radius: 8px;
}
input[type=submit]:hover, input[type=submit]:focus,
button:hover, button:focus,
a.button:hover, a.button:focus
{
	background-color: #fff;
	color: #393c4f;
	text-decoration: none;
}


/* Forms */
.form-row {
	margin-top: 30px;
}
form h2 {
	margin-bottom: 10px;
}


/* CMS content */
.article li {
	margin: .8em 0 .8em 1.5em;
	padding-left: 0;
}
.article ol li {
	list-style-type: decimal;
}
.article ul li {
	list-style-type: disc;
}

/* Contact page */
.contact-form {
	position: relative;
}
.contact-form-left {
	clear: left;
	float: left;
	width: 48%;
}
.contact-form-right {
	position: absolute;
	right: 0;
	top: 0;
	width: 48%;
}


@media only screen and (max-width: 1240px) {

	.header-wrapper {
		padding-left: 20px;
		padding-right: 20px;
		width: auto;
		height: auto;
	}
	.wrapper {
		padding-left: 20px;
		padding-right: 20px;
		width: auto;
	}
}
	
@media only screen and (max-width:850px) {

	.header-logo-full {
		display: none;
	}
	.header-logo-icon {
		display: inline;
	}
	.header-nav {
		left: 120px;
	}
}

@media only screen and (max-width:740px) {
	.header-nav-open {
		display: block;
	}
	.header-nav {
		display: none;
		left: 0;
		right: 0;
		padding-top: 25px;
		background-color: #fff;
	}
	.header-nav-icons {
		display: block;
	}
	.header-menu {
		float: none;
		border-bottom: 1px solid #393c4f;
		background-color: #fff;
	}
	.header-menu a {
		float: none;
		margin: 0;
		padding: 8px 20px;
		color: #393c4f;
	}
	.header-menu a:hover, .header-menu a:focus,
	.header-menu a.menu-current {
		border-bottom: none;
		background-image: none;
		background-color: #393c4f;
		color: #fff;
	}
	.header-lang {
		display: none;
	}
	.header-lang-select {
		display: block;
		position: relative;
		right: 0;
		top: 0;
		border-bottom: 1px solid #bbb;
		width: auto;
		background-color: #f3f3f3;
		font-size: inherit;
	}
	.header-lang-select-label {
		margin: 0;
		padding: 8px 20px;
		background-color: #fff;
		color: #bbb;
		border-bottom: 1px solid #bbb;
	}
	.header-lang-select-label > a {
		display: none;
	}
	.header-lang-select-list {
		overflow-y: scroll;
		height: 193px;
	}
	.header-lang-select li > a {
		display: block;
		padding: 8px 20px;
		color: #737577;
	}
	.header-lang-select li > a:hover, .header-lang-select li > a:focus {
		background-color: #393c4f;
		color: #fff;
	}
	.header-content {
		max-width: 85%;
	}
	
	footer {
		text-align: center;
	}
	.footer-arrow {
		display: none;
	}
	.footer-logo-links {
		float: none;
		margin-top: 60px;
		width: auto;
	}
	.footer-logo {
		float: none;
		width: auto;
	}
	.footer-links {
		float: none;
		width: auto;
	}
	.footer-links > div {
		float: none;
		margin-top: 60px;
		width: auto;
	}
	.footer-social {
		float: none;
		width: auto;
	}
	.footer-copyright {
		margin-top: 40px;
	}

	
	.col-2,
	.col-3, .col-3-2,
	.col-5
	{
		float: none;
		margin-top: 30px;
		width: auto;
	}
	.videoshow{
		height: auto;
		background-image: url(images/33.jpg) no-repeat;

	}
/*	.col-2:first-child,
	.col-3:first-child, .col-3-2:first-child,
	.col-5:first-child
	{
		margin-top: 0;
	}*/
	
	h1, h2, h3, h4, h5, h6,
	.like-h2 {
		text-align: center;
	}
	
	.alignc-m {
		text-align: center;
		border-radius: 25px;
	}

	
	.shift-left, .shift-right {
		left: 0;
		right: 0;
		text-align: center;
	}
	
	.slider-left, .slider-right {
		display: block;
	}
	.slider-item {
		display: none;
	}
	.slider-item-sel {
		display: block;
	}

	#home-ball-div {
		margin: 0 auto;
	}
	#home-why-text {
		min-height: 0;
	}
	#home-why-images {
		min-height: 0;
		padding-bottom: 90%;
	}
	#home-join.wrapper-pad {
		padding-bottom: 0;
	}
	#home-join-image {
		position: relative;
		left: 0;
		right: 0;
		width: auto;
		text-align: center;
	}
	
	#about-slider .slider-left, #about-slider .slider-right {
		margin-top: 29%;
	}
	#about-slider .slider-item > div:first-child {
		margin-top: 0;
	}
	
	.contact-form input, .contact-form textarea {
		text-align: center;
	}
	.contact-form-left {
		float: none;
		width: auto;
	}
	.contact-form-right {
		position: relative;
		width: auto;
	}
	

}
.video-btn{
	     text-align: center; /*让div内部文字居中*/	
		width: 40%;
		height: 50%;
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	    
	   }

@media only screen and (max-width:640px) {
	
	   .video-btn{
     width: 100%;
  
   }

}
video{
	width: 100%
}
.down{
	width: 50%;
	text-align: center;
}



