body{
    max-width: 1230px;
    width: 100%;
    margin: auto;;
}


.header{
    display: none;
}
.font{
    color: 7f8d9a;
}
.fonts .title{
   font-size: 35px;
}
.fonts,.imgs{
    width: 100%;
    float: none;
}

.fonts ol li{
    width: 50%;
    float: left;
    /*height: auto;*/
    margin-bottom: 6%;
}
.fonts ol li img{
   padding-right: 10px;
}
.fonts .infor{
    font-size: 25px;
	width: 100%;
	line-height: 30px
}
.fonts ol li span{
    font-size: 13px;
}
.fonts ol li:nth-child(2n){
    margin-left: 0;
}

.show_img{
    width: 100%;
    max-height: 1000px!important;

}

 .Team .tit, .Partners .tit, .titq{
    font-size: 35px;
}
.Team1 ol li:nth-child(1){
    width: 100%;

}
.technical_features {
    background-image: none;
    width: 100%;
    margin: auto;
    -webkit-background-size: cover;
    background-size: cover;
}
.technical_features .tit{
    text-align: center;1
    margin: auto;

}


.technical_features ul{
    margin-top:20%;
    width: 100%;
}
.technical_features ul li{
    width: 100%;
    margin-bottom: 20%;
}


.technical_features ul li img{
    width: 80%;
    height: auto;
}

.technical_features .font{
   width: 80%;
    text-align: left;
    margin: 10% auto;
}

.technical_features ul li p{
    text-align: center;
    width: 90%;
    padding-top: 0;
}
.technical_features ul li p span{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    display: block;
}

.Roadmap .contain .scroll{
    width: 97%;
    height: 9rem;
}

.Roadmap .contain .scroll ul li p{
    background-size: 30px;
    padding-left: 23%;
    width: 39%;
}

.Roadmap .contain .scroll ul li span{
    padding-right: 10%;
    left: 4.5%;
    width: 20%;
}

.titq{
    margin-bottom:5%;
}

.Team ol li{
    width: 50%;
}

.Team .border img{
    width: 2rem;
    height: 2rem;
}

.Team ul{
    width: 90%;
}

.Team ol li .border{
    width: 3rem;

}

.Partners ul li{
    width: 100%;
    margin-bottom: 7%;
}

.sap{
    width: 100%;
    text-align: center;
    padding-bottom: 3%;
}

.sap ul li{
    text-align: center;

}

.sap:nth-child(3){
    text-align: center;
}

.moble{
    display: block;
}

.header{
    display: none;
}

.nav{
    width: 90%;
    padding: 0 5%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fafaff;
    line-height: 70px;
}

.nav .logo img{
    width: 70%;
    height:auto;
    position: absolute;
    top: 50%;
}

.nav .logo {
    height: 100%;
    display: inline-block;
    position: relative;
    width: 30%;
    
}

.nav .R{
    position: relative;
    width: 70%;
    text-align: right;
    float: right;
}

.nav .R a{
    padding: 0.06rem 0.2rem;
    border: 1px solid #11ffff;
    border-radius: 20px;
    font-size: 12px;
    margin: 0 5%;
    color: #11ffff;
}

.meau{
    width: 0.4rem;
    height: auto;
    position: relative;
    top: 0.1rem;
}
.m_nav{
    display: block;
}

.m_nav,.m_langluge{
    width: 100%;
    position: fixed;
    top: 1rem;
    background-color: #3d3c3c;
    left: 0;
    display: none;
    height: 100%;
    z-index: 99999;
     opacity :0.7;
}

.m_nav li,.m_langluge li{
    height: auto;
    padding: 4% 0;
    text-align: center;
    color: #fff;
}
.m_langluge ul li{
    margin-left: -20%;
}
.m_nav li a{
    color: #fff;
    cursor: pointer;
}

.m_langluge{
    display: none;
}

.m_langluge ul li span{
    color: #fff;
    padding-right: 20px;
}

.m_langluge ul li:nth-child(2n) span{
    color: #915aff;
}

.m_langluge ul li:nth-child(3n) span{
    color: #0bffff;
}

.m_langluge ul li:nth-child(4n) span{
    color: #02db8f;
}

.cover_video{
    width: 100%;
    height: auto;
}
.commonlogin,.videos{
    width: 80%;
    left: 10%;
    margin-left: 0;
}

.btns{
    width: 2.5rem;
    height: 0.7rem;
}


.sample3,.sample1,.sample2{
    -webkit-background-size: 90%!important;
    background-size: 90%!important;
}


.news ol li .set_img{
    width: 100%;
    float: none;
}

.news ol{
    width: 90%;
}

.news ol li .set_img{
    width:100%;
    height: auto;
    margin-bottom: 3%;
    display: block;
}

.new_div{
    width: 100%;
}

.news{
    top:1rem;
}

.sample2{
    background-position:50%;
}
.Roadmap .contain{
    width: 80%;
    margin: auto;
}

.Roadmap .contain .scroll ul li span, .Roadmap .contain .scroll ul li p{
    line-height: 25px;
}

.team_box{
    width: 100%;
    left: 0%;
    margin:auto;
    top: 12%;
    height: 75%;
    overflow: scroll;
    z-index: 9999;
    padding-top: 10%
}

.team_box .left{
    width: 100%;
    float: none;
}

.right{
    width: 100%;
    float: none;
    margin:3% auto;
}
.information{
    margin: -10% auto 10% auto;
}
.information .headers {
    width: 1.5rem;
    height: 1.5rem;
}
.information .logos {
    width: 1.4rem;
}


.imgss img{
    height: 0.6rem;
    width: 0.6rem;
}

.technical_features  .width{
    position: relative;
    top: 0;
}
.condition_box{
    right:2%
}
.agree_condition{
    width: 90%;
    height: 50px;
    font-size: 9px;

}
.code_span{
    height: 35px;
    width: 120px;
}
.condition_box{
    width: 90%
}

.sample1 .left_img{
    width: 100%;
    position:initial;
}

.sample1_bg{
    display: none;
}
.sample1 .left_img{
    display: block;
	padding-bottom: 10%;
}
.narrow{
    display: none;
}
.selects {
    float: left;
    margin-left: 5%;
    font-size:0.2rem;
}
.cur_color{
   float: right;
   margin-top: 3px;
}
.intorduction .there{
    width: 100%;
}
.project{
    width: 80%;
}
.project ol{
    width: 100%;
}


.ecological .infor{
    width: 100%;
}
.ecological .linka {
    display: none;
}
.sample1 .title{
    font-size: 30px;
}
.sample1 .infor{
    width: 100%;
}
.sample1 .there{
    width: 80% !important;
    margin: auto;
}
.collection{
    width: 80%;
    margin: auto;
}
.collection .title{
    font-size: 30px;
}
.cognitive .imgs{
    width: 100%;
	padding-bottom: 10%
}

.cognitive .infor, .cognitive ol {
    width: 100% !important;
}
.cognitive .there{
    width: 80%;
    margin: auto;
}

.service .imgs {
    width: 100%;
}
.service .fonts {
    width: 80%;
    margin-top: 10%;
    margin: auto;
}
.Roadmap .contain .scroll{
    padding-left: 0;
}
.guanbi{
    position: fixed;
    top: 13%;
    margin-right: 2%;
}
.Team_img{
    width:50%;
    height:70%;
}
.Team_img:nth-child(1){
    width:50%;
    height:70%;
}
@media screen and (max-width: 750px) {
	.Team_div{
		background: url("../images/background.png") no-repeat center;
		background-size: 100% 100%;
	}

	.fonts ol li{
		width: 100%;
		float: none;
		/*height: auto;*/
		margin-bottom: 6%;
	}
   .project .title{
		font-size: 30px
   }
   .fonts .infor{
		font-size: 20px
   }
   .fonts ol li span {
		font-size: 15px;
	}
	.tit{
		font-size: 30px;
	}
	.technical_features .font{
		font-size: 20px;
	}
    .information .headers {
   width: 150px;
    height: 150px;
    
    }
}
@media screen and (max-width: 650px) {
     .Team ol li{
        width:100%;
    }

}
@media screen and (max-width: 450px) {
   
    .information .headers {
        width: 1.5rem;
        height: 1.5rem;
    }
    .information .logos {
        width: 1.4rem;
    }
}
@media screen and (max-width: 320px) {
    .fonts .title{
		font-size:20px;
	}
	.fonts .infor{
		font-size:15px;
	}

	.fonts ol li span{
		font-size:13px;
	}
}
